.wrapper {
    padding: 0 12px;
    width: 287px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.content {
    padding: 12px 0;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.label {
    padding: 0 6px;
    border-radius: 4px;
    margin-right: 4px;
    font-weight: 600;
    font-size: 1.4rem;

    &.queue {
        color: rgb(93, 23, 21);
        background-color: rgb(255, 226, 221);
    }

    &.development {
        color: rgb(64, 44, 27);
        background: rgb(253, 236, 200);
    }

    &.done {
        color: rgb(28, 56, 41);
        background: rgb(219, 237, 219);
    }
}

.item {
    position: relative;
    margin-bottom: 12px;
    color: rgb(53, 53, 53);

    &:hover .card,
    &.dragging .card {
        background-color: #ebecf0;
    }

    &:hover .controls {
        opacity: 1;
    }

    &.adding .card {
        background-color: #fff;
        padding: 8px 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &.hide {
        display: none;
    }
}

.card {
    -webkit-box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px,
        rgb(15 15 15 / 10%) 0px 2px 4px;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.task {
    padding: 8px 10px;
    width: 100%;

    & .order {
        margin-right: 4px;
    }
}

.task-info {
    display: flex;
}

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    position: absolute;
    color: rgba(55, 53, 47, 0.65);
    border: 1px solid rgb(15 15 15 / 10%);
    border-radius: 4px;
    top: 6px;
    right: 8px;
    overflow: hidden;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.icon {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #fff;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #ebecf0;
    }

    &:first-child {
        border-right: 1px solid rgb(15 15 15 / 10%);
    }
}

.add {
    padding: 6px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    cursor: pointer;
    color: rgba(55, 53, 47, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &:hover {
        background-color: #ebecf0;
    }
}

.plus {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 4px;
}

.add-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: start;
    justify-self: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    max-height: 22px;
}

.input {
    width: 100%;
    font-size: 1.6rem;
    resize: vertical;
}

.detail-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.comment-quantity {
    margin-top: 8px;
    color: var(--text-second);
    font-size: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 12px;
}

.comment-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 4px;
}
