.content {
    padding: 24px 48px;
    background-color: #fff;
    border-radius: 4px;
    color: rgba(55, 53, 47, 0.65);
    font-size: 1.4rem;
}

.title {
    font-size: 3.2rem;
    margin-bottom: 24px;
    color: #37352f;
}

.details {
    padding: 8px 0;
}

.detail {
    margin-bottom: 8px;
    display: flex;
}

.item {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    font-size: 1.8rem;
}

.text {
    color: #37352f;
}

.status {
    padding: 0 4px 2px;
    border-radius: 4px;

    &.queue {
        color: rgb(93, 23, 21);
        background-color: rgb(255, 226, 221);
    }

    &.development {
        color: rgb(64, 44, 27);
        background: rgb(253, 236, 200);
    }

    &.done {
        color: rgb(28, 56, 41);
        background: rgb(219, 237, 219);
    }
}

.comments {
    padding: 12px;
    border-bottom: 1px solid rgb(210, 210, 210);
    border-top: 1px solid rgb(210, 210, 210);
}

.comment {
    position: relative;
    padding: 4px 0;

    & .comment {
        margin-left: 28px;
    }

    & .comment::before {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: -38px;
        width: 55px;
        height: 16px;
        border: solid rgb(204, 204, 204);
        border-width: 0 2px 2px 0;
        transform: rotate(90deg);
        border-radius: 0 0 6px 0;
    }

    & .add-comment {
        margin-left: 28px;
    }
}

.comment-block {
    &:hover .actions {
        display: flex;
    }
}

.user-info {
    display: flex;
}

.name {
    font-weight: 600;
    color: #37352f;
}

.comment-time {
    margin-left: 8px;
    font-size: 1.2rem;
    color: rgba(55, 53, 47, 0.65);
}

.user-comment {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 28px;
    color: #37352f;
}

.actions {
    position: absolute;
    right: 0;
    top: 4px;
    display: none;
    align-items: center;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:first-child {
        margin-right: 8px;
    }

    &:hover {
        color: var(--text-hover);
    }
}

.add-comment {
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.image {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
    z-index: 10;
}

.input {
    flex: 1;
    font-size: 1.4rem;
}

.submit {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    color: #2383e2;
    transition: color 0.3s ease;

    &.disable {
        color: rgba(55, 53, 47, 0.65);
        cursor: auto;
        pointer-events: none;
    }
}

.subtasks {
    padding: 12px 0;
}

.add-subtask {
    cursor: pointer;
    display: inline-flex;
    border-radius: 4px;
    padding: 8px 8px 8px 4px;
    margin-top: 6px;

    &:hover {
        background-color: rgba(55 53 47 / 0.08);
    }
}

.subtask {
    position: relative;
    cursor: pointer;

    &:hover .delete-subtask {
        display: flex;
    }

    &.adding .delete-subtask {
        display: none;
    }
}

.subtask-block {
    display: flex;
}

.label {
    position: relative;
    margin-left: 40px;
    cursor: pointer;

    &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(55, 53, 47, 0.65);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -27px;
        border-radius: 4px;
    }

    &::after {
        content: "";
        position: absolute;
        left: -22px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}

.text-subtask {
    flex: 1;
    padding: 4px 0;
}

.checkbox {
    display: none;

    &:checked + .label::before {
        border-color: var(--text-hover);
        background-color: var(--text-hover);
    }

    &:checked ~ .text-subtask {
        text-decoration: line-through;
    }

    &:checked ~ .input {
        color: rgba(55, 53, 47, 0.65);
    }
}

.delete-subtask {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--bg-hover);
    }
}
