// Modal Delete
.body-delete {
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    -webkit-animation: fade-down 0.3s ease;
    animation: fade-down 0.3s ease;
}

.actions {
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;

    & .delete {
        padding: 8px 12px;
        background-color: red;
        border-radius: 4px;
        color: white;
        cursor: pointer;
    }

    & .cancel {
        padding: 8px 12px;
        background-color: black;
        border-radius: 4px;
        color: white;
        cursor: pointer;
    }
}
