.wrapper {
    max-width: 861px;
    width: calc(100% - 48px);
    height: 100vh;
    margin: 0 auto;
}

.header {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.link {
    color: #000;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;

    &:hover {
        color: #2383e2;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;

    &.check {
        display: inline-flex;
        margin-right: 12px;
    }
}

.user {
    display: flex;
    align-items: center;
}

.image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 4px;
}

.banner {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.title {
    display: flex;
    align-items: center;
}

.desc {
    color: rgb(55, 53, 47);

    & .separate {
        display: inline-block;
        background: rgba(135, 131, 120, 0.15);
        color: #eb5757;
        border-radius: 4px;
        padding: 0 4px;
        font-size: 85%;
    }
}

.container {
    margin-top: 24px;
    border-top: 2px solid #ccc;
    display: flex;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
