.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    position: absolute;
    inset: 0;
    background: rgba(0 0 0 / 0.6);
    animation: fade 0.3s ease;
    z-index: -1;
}

.content {
    animation: fade-down 0.3s ease;
    width: calc(100% - 24px);

    @media (min-width: 740px) and (max-width: 1023px) {
        width: 60%;
    }

    @media (min-width: 1024px) {
        width: 40%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
